[user]
    email = conordonihoo@hotmail.com
    name = Conor Donihoo
[push]
    default = simple
[core]
    autocrlf = input
    editor = vim
[init]
    defaultBranch = main
[http]
    sslVerify = false
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[difftool "vimdiff"]
    cmd = nvim -d $REMOTE $LOCAL
[alias]
    d = difftool
    m = mergetool
[merge]
    tool = vimdiff
